<h2>Authors</h2>
<a [routerLink]="['/create']" class="btn btn-outline-success">Create</a>
<hr />
<table class="table table-striped">
   <thead>
     <tr>
       <th>Id</th>
       <th>Name</th>
       <th>YearOfBirth</th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let item of authors">
       <td >{{item.id}}</td>
       <td >{{item.name}}</td>
       <td >{{item.yearOfBirth}}</td>
       <td >
         <div class="btn-group">
           <a class="btn btn-outline-primary" [routerLink]="['/',item.id]">Details</a>
           <button class="btn btn-outline-warning" [routerLink]="['/edit/',item.id]">Edit</button>
           <button (click)="deleteAuthor(item.id)" class="btn btn-outline-danger">Delete</button>
         </div>
       </td>
     </tr>
   </tbody>
</table>
